.providersandcosts {
    display: flex;
    padding: 10px;
    gap: 10%;
    text-align: left;
    height: 50%;
    width: 50%;
    margin-left: 42%;
}
.providers {
    overflow: auto;
}

.movie-info {
    margin-top: 10%;
    margin: 0 auto;
}
.movie-name {
    padding: 20px;
}
.all-movies {
    margin-top: 20px;
}

.dropdown-menu {
    margin-bottom: 20px;
}

.cheaper {
    background-color: yellow;
}

/* .cinemaWorld > .cinemaWorld {
    background-color: yellow;
}

.filmWorld > .filmWorld {
    background-color: bold;
} */
