.providersandcosts {
    display: flex;
    padding: 10px;
    gap: 30%;
    text-align: left;
    height: 100%;
    width: 100%;
}
.providers {
    overflow: auto;
}

.movie-info {
    margin-top: 10%;
    margin: 0 auto;
}
.movie-name {
    padding: 20px;
}
.all-movies {
    margin-top: 20px;
}

.dropdown-menu {
    margin-bottom: 20px;
}
